AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
AWS_REGION=eu-central-003
HAMSTOR_MOUNT=/home/user/hamstor
HAMSTOR_BUCKET=hamstor
HAMSTOR_ENDPOINT=https://s3.eu-central-003.backblazeb2.com